<div class="cust_flex">
  <div>
    <h2>Weather In Your City</h2>
    <div class="cust_drp_dwn">
      <input type="text" [(ngModel)]="cityName">
      <div class="cust_drp_dwn_show" >
        <div *ngFor="let city of tempCities">
         <label (click)="selCity(city)">{{city.name}}</label><span *ngIf="city.sys?.country"> , {{city.sys.country}}</span>
      </div>
    </div>
    </div>
    <div style="text-align: center;">
      <button type="button" class="cust_btn" (click)="searchFn(cityName)">Search</button>
    </div>
  
  </div>
  <div style="width: 100%;">
   <table class="cust_table" *ngFor="let temp of tempDayData">
    <tr>
      <th colspan="2">Date : {{temp.items.dt_txt | date:'dd/MM/yyyy'}}</th>
    </tr>
    <tr>
      <th class="bg_gray" colspan="2">Tempearature</th>
    </tr>
    <tr>
      <th class="bg_gray">Min</th>
      <th class="bg_gray">Max</th>
    </tr>
    <tr>
      <td class="bg_gray">{{temp.items.main.temp_min}}</td>
      <td class="bg_gray">{{temp.items.main.temp_max}}</td>
    </tr>
    <tr>
      <td>Pressure</td>
      <td>{{temp.items.main.pressure}}</td>
    </tr>
    <tr>
      <td>Humidity</td>
      <td>{{temp.items.main.humidity}}</td>
    </tr>
   </table>
  </div>
</div>



